<!DOCTYPE html>
<html lang="en">
<head>
	<title>Herbei | All Clothes</title>	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="/css/bootstrap4.css">
	<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">			
	<link rel="stylesheet" href="/css/clothes.css">	
	<link rel="manifest" href="/manifest.json">
</head>
<body>
	<nav class="nav">
	<div>
		<li><a href="/"><span class="text-primary">HERBEI</span> FASHION</a></li>	
	</div>
		<div>
			<% if(!user){ %>
				<li class="action-gray"><a href="/users/login">Login</a></li>
				<li class="action-red"><a href="/users/register">Register</a></li>
			<% } else if(user.type === "User") { %> 
				<li><a href="#"><%=user.userName %></a></li>
				<li><a href="#" class="id hidden"><%=user._id %></a></li>
				<li><a href="#" class="cart-btn"><i class="fa fa-shopping-cart"></i></a></li>
				<li><a href="/users/myOrders">Orders</a></li>
			<%} else {%>
				<li><a href="#"><%=user.userName %></a></li>
				<li><a href="#" class="id hidden"><%=user._id %></a></li>				
				<li><a href="/orders/allOrders">All Orders</a></li>
				<li><a href="/users/myOrders">Orders</a></li>
				<li><a href="/clothes/add"><i class="fa fa-plus"></i></a></li>						
				<li><a href="#" class="cart-btn"><i class="fa fa-shopping-cart"></i></a></li>		
			<% } %>					
		</div>
		<div>
			<% if(user){ %>
				<li> <a class="enable">Enable Notification</a></li>
				<li> <a href="/users/logout">Logout</a></li>
			<% } %>
		</div>		
	</nav>
	<!-- Showing erro or success messages -->
	<div class="container msg-box">
		<% if(error && error.length > 0) {%>
			<div class="mt-1 alert alert-danger text-center" role="alert"><strong><%=error%></strong></div>
		<% }else if(success && success.length > 0) {%>
			<div class="mt-1 alert alert-success text-center" role="alert"><strong><%=success%></strong></div>
		<% } %>
	</div>		
	<main>
		<form class="container">
            <input class="" type="text" name="" id="searchInput">
            <input type="submit" class="category" value="Submit" id="btn1" aria-describedby="descriptionGetStarted"/>
            <p style="display: none" id="descriptionGetStarted">Click on this button to search for your favorite cloth</p> 
        </form>
		<form>
			<legend>Price</legend>	
			<div>	
				<label><input type="checkbox" name="price" class="condition" value="1500" />&lt; 1500</label>
			</div>
			<div>
				<label><input type="checkbox" name="price" id="2501" class="condition" value="2500" /> &lt; 2500:</label>	
			</div>								
			<div>
				<label><input type="checkbox" name="price" id="2501" class="condition" value="2501" /> &ge; 2500:</label>		
			</div>				
		</form>
			<section id="all-clothes">
				<div class="container">
					<div id="clothes-container" class="p2">
					
					</div>
					<div id="button-container">
					
					</div>	
				</div>
		</section>
 	</main>

 	<div class="add">
		<i class="fa fa-plus"></i>
	</div>	
	<div id="footer">
		<div class="container" >
			<p class="text-center">Copyright &copy; 2019, Herbei_Fashion, All Rights Reserved</p>
		</div>
	</div>  	
	
	<% if(user){%>
		<form action="/users/<%=user._id%>/order" method="post" class="payment-container cart filledCart">
			
		</form>
	
	<% }else{ %>
		<div class="cart payment-container emptyCart">
			
	 	</div>			
	<% } %>
	<% if(user){ %>
		<script src="/javascript/app.js"></script>		
		<script src="/javascript/cart.js"></script>
		<script type="text/javascript" src="/javascript/idb.js"></script>				
		<script src="/javascript/utility.js"></script>		
		<script type="text/javascript" src="/javascript/enableNotification.js"></script>
		<script src="/javascript/jquery-3.3.1.min.js"></script>
		<script src="/javascript/loadClothes.js"></script>			
	<% }else{ %>
		<script src="/javascript/app.js"></script>	
		<script type="text/javascript" src="/javascript/idb.js"></script>		
		<script src="/javascript/utility.js"></script>			
		<script src="/javascript/jquery-3.3.1.min.js"></script>
		<script src="/javascript/loadClothes.js"></script>	
	<% } %>		
	<script type="text/javascript">
		window.setTimeout(() => {
			document.querySelector('.msg-box').innerHTML = ''
		},2000)
	</script>									
		<script src="/javascript/bootstrap.js"></script>	
</body>
</html>