<!DOCTYPE html>
<html lang="en">
<head>
	<title>Herbei | All Clothes</title>	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="/css/bootstrap4.css">
	<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">			
	<link rel="stylesheet" href="/css/clothes.css">	
	<link rel="manifest" href="/manifest.json">
</head>
<body>
	<nav class="nav">
	<div>
		<li><a href="/"><span class="text-primary">HERBEI</span> FASHION</a></li>
		
	</div>
		<div>
			<% if(!user){ %>
				<li class="action-gray"><a href="/users/login">Login</a></li>
				<li class="action-red"><a href="/users/register">Register</a></li>
			<% } else if(user.type === "User") { %> 
				<li><a href="#"><%=user.userName %></a></li>
				<li><a href="#" class="id hidden"><%=user._id %></a></li>
				<li><a href="#" class="cart-btn"><i class="fa fa-shopping-cart"></i></a></li>
				<li><a href="/users/myOrders">Orders</a></li>
			<%} else {%>
				<li><a href="#"><%=user.userName %></a></li>
				<li><a href="#" class="id hidden"><%=user._id %></a></li>				
				<li><a href="/orders/allorder">All Orders</a></li>
				<li><a href="/users/myOrders">Orders</a></li>
				<li><a href="#" class="cart-btn"><i class="fa fa-shopping-cart"></i></a></li>		
			<% } %>					
		</div>
		<div>
			<% if(user){ %>
				<li> <a class="enable">Enable Notification</a></li>
				<li> <a href="/users/logout">Logout</a></li>
			<% } %>
		</div>		
	</nav>
	<main>
		<div class="container" style="margin-top:1rem;">
		  <form>
               <input class="" type="text" name="" id="searchInput">
               <input type="submit" class="category" value="Submit" id="btn1" aria-describedby="descriptionGetStarted"/>
               <p style="display: none" id="descriptionGetStarted">Click on this button to search for your favorite cloth</p> 
          </form>
		</div> 
    	<div class="container d-flex fieldset-box"> 
			<fieldset class="mr-3">
				<legend class="mb-0">Price</legend>
				<div class="d-flex">
				<div class="form-check mr-1">	
					<input type="checkbox" name="price" id="1500" class="form-check-input condition" value="1500" />
					<label class="form-check-label" for="1500"> &lt; 1500</label>
				</div>
				<div class="form-check mr-1">
					<input type="checkbox" name="price" id="2500" class="form-check-input  condition" value="2500" />		
					<label class="form-check-label" for="2500"> &lt; 2500: </label> 
				</div>
				<div class="form-check">
					<input type="checkbox" name="price" id="2501" class="form-check-input condition" value="2501" />		
					<label class="form-check-label" for="2501"> &ge; 2500: </label> 
				</div>				
				</div>			
			</fieldset>
		</div>

			<section id="all-clothes">
				<div class="container">
					<div id="clothes-container" class="p2">
					
					</div>
					<div id="button-container">
					
					</div>	
				</div>
		</section>
 	</main>	
 	<div class="add">
		<i class="fa fa-plus"></i>
	</div>	
	<div id="footer">
		<div class="container" >
			<p class="text-center">Copyright &copy; 2019, Herbei_Fashion, All Rights Reserved</p>
		</div>
	</div>  	
	
	<% if(user){%>
		<form action="/users/<%=user._id%>/order" method="post" class="payment-container cart filledCart">
			
		</form>
	
	<% }else{ %>
		<div class="cart payment-container emptyCart">
			
	 	</div>			
	<% } %>
	<% if(user){ %>
		<script src="/javascript/cart.js"></script>
		<script type="text/javascript" src="/javascript/idb.js"></script>				
		<script src="/javascript/utility.js"></script>		
		<script type="text/javascript" src="/javascript/enableNotification.js"></script>

		<script src="/javascript/jquery-3.3.1.min.js"></script>
		<script src="/javascript/loadclothes.js"></script>	
				
	<% }else{ %>
		<script type="text/javascript" src="/javascript/idb.js"></script>		
		<script src="/javascript/utility.js"></script>			
		<script src="/javascript/jquery-3.3.1.min.js"></script>
		<script src="/javascript/loadclothes.js"></script>	
	<% } %>						
		<script src="/javascript/bootstrap.js"></script>	
</body>
</html>